<!-- Navigation buttons -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <!-- Brand/logo -->
   <a class="navbar-brand" href="#">Sustainability App</a>
  
   <!-- Toggler/collapsible Button -->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>


   <!-- Navbar links -->
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <button data-url="{% url 'sustainability:leaderboard' %}" onclick="openUrl(this)" class="nav-link btn btn-link">Leaderboard</button>
           </li>
           <li class="nav-item">
               <button data-url="{% url 'sustainability:map' %}" onclick="openUrl(this)" class="nav-link btn btn-link">Map</button>
           </li>
       </ul>


       <!-- User authentication section -->
       {% if user.is_authenticated %}
           <div class="dropdown">
               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{ user.username }}
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="#">Edit Profile</a>
                   <a class="dropdown-item" href="{% url 'sustainability:logout' %}">Logout</a>
               </div>
           </div>
       {% else %}
           <button data-url="{% url 'sustainability:auth' %}" onclick="openUrl(this)" class="btn btn-primary ml-auto">Login/Register</button>
       {% endif %}
   </div>
</nav>
           <script>
       function openUrl(button) {
           var url = button.getAttribute('data-url');
           window.location.href = url;
       }
   </script>