<!DOCTYPE html>
<!-- Written by Jiadong Cheang -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'sustainability:register' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    {% if form.errors.username %}
        <span class="error">{{ form.errors.username.0 }}</span><br>
    {% endif %}
    <label for="firstname">First Name:</label><br>
    <input type="text" id="firstname" name="firstname" required><br>
    {% if form.errors.firstname %}
        <span class="error">{{ form.errors.firstname.0 }}</span><br>
    {% endif %}
    <label for="lastname">Last Name:</label><br>
    <input type="text" id="lastname" name="lastname" required><br>
    {% if form.errors.lastname %}
        <span class="error">{{ form.errors.lastname.0 }}</span><br>
    {% endif %}
    <label for="dob">Date of Birth:</label><br>
    <input type="date" id="dob" name="dob" required><br>
    {% if form.errors.dob %}
        <span class="error">{{ form.errors.dob.0 }}</span><br>
    {% endif %}
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    {% if form.errors.email %}
        <span class="error">{{ form.errors.email.0 }}</span><br>
    {% endif %}
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    {% if form.errors.password %}
        <span class="error">{{ form.errors.password.0 }}</span><br>
    {% endif %}
    <label for="confirmpassword">Confirm Password:</label><br>
    <input type="password" id="confirmpassword" name="confirmpassword" required><br>
    {% if form.errors.password %}
        <span class="error">{{ form.errors.password.0 }}</span><br>
    {% endif %}
    <label for="team_colour">Team Colour:</label><br>
    <select id="team_colour" name="team_colour" required>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select><br><br>
    <input type="submit" value="Register">
    </form>
</body>
</html>
