<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
	<link rel="stylesheet" href="{% static 'sustainability/style.css' %}">

</head>
<body>

    <nav>
    <button data-url="{% url 'sustainability:leaderboard' %}" onclick="openUrl(this)">Leaderboard</button>
    <button data-url="{% url 'sustainability:auth' %}" onclick="openUrl(this)">Authentication</button>
    <button data-url="{% url 'sustainability:map' %}" onclick="openUrl(this)">Map</button>
    <button data-url="{% url 'sustainability:rewards' %}" onclick="openUrl(this)">Rewards</button>
    </nav>

    <script>
        function openUrl(button) {
            var url = button.getAttribute('data-url');
            window.location.href = url;
        }
    </script>

    <div class="container mt-5">
        <h1>Rewards</h1>
        <div class="alert alert-success" role="alert">
            Congratulations! You earned 200 points!
        </div>
    </div>
</body>
</html>