<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
	<link rel="stylesheet" href="{% static 'sustainability/style.css' %}">
     <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
 <nav>
        <button data-url="{% url 'sustainability:leaderboard' %}" onclick="openUrl(this)">Leaderboard</button>
        <button data-url="{% url 'sustainability:auth' %}" onclick="openUrl(this)">Authentication</button>
        <button data-url="{% url 'sustainability:map' %}" onclick="openUrl(this)">Map</button>
        </nav>
    	<!-- Navbar -->  
        <script>
            function openUrl(button) {
                var url = button.getAttribute('data-url');
                window.location.href = url;
            }
        </script>
    <h1>Setup TOTP</h1>
    <img src="{{ qr_code }}" alt="QR Code" class="center">
</body>
</html>